<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.focuscap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cap"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_roundd"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="m">
        <!--
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
-->
        <activity
            android:name=".Contact"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Focused"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
          <!--  android:theme="@style/FullScreen"/> -->
        <activity
            android:name=".Forum"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>